*.pid
*.xml
*.csr
*.crt
*.key
*.conf
www
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
secrets.yaml
known_devices.yaml
phue.conf
pyozw.sqlite
nest.conf
.uuid
bin/update_new_commits_sensor.sh
bin/check_config.sh
bin/check_config.sh
bin/restart_hass.sh
.HA_VERSION
tts/
emulated_hue_ids.json
